
header{
  width: 100%;
}

#topnav{
  width: 100%;
}

#navlist{
  list-style-type: none;
  display: none;
  text-align: center;
  padding-bottom: 15px;

}
#navlist li{
  border: 1px solid white;
  margin: auto;
  width: 40%;
  padding: 5px 0px;
}
#navlist a{
text-decoration: none;
}

#hamburger{
  width: 100%;
}

#menu-icon{
  position: fixed;
  width: 20%;
  float: right;
  top: 5%;
  right: 5%;
}

h1{
  padding-top: 4vh;
  padding-bottom: 4vh;
  text-align: center;
  font-family: 'Molle', cursive;
  font-size: 4vh;
  background-color: rgba(255, 255, 255, 0.5);
}

#welcome-div{
  background-color: gray;
}
#welcome{
  text-align: center;
  padding: 3px;
}

#tagline-div{
  background-color: blue;
  padding-bottom: 5px;
}
#tagline{
  text-align: center;
}

#home-body{
  padding: 20px;
}

footer{
  padding: 20px;
}
